.modal-collekt-content {
    background-color: white;
    margin: auto;
    padding-top:20px;
    padding:12px;
    border:none;
    width: 35%;
    height:142px;
    border-radius:3px;
  }
  .labelLinked{
    margin:0;
    padding:0;
    margin-top:0;

  }
  .pLined{
    margin:0;
    margin-top:0;


  }
  .inp{
     font-size: 11px;
      border-radius:5px;
      width:80%;
  }
  .inpmes{
    margin:0;
    padding:0;
    font-size: 11px;
     border-radius:5px;
     width:85%;
     height:16px;
 }
  .modalBtn{
      background-color: rgb(168, 168, 236);
      border-radius: 5px;
      border-style:none;
      float:right;
      height:30px;
      width:65px;
      position:relative;
    right:15px;

  }
  .modalBtnMes{

    background-color: rgb(14, 14, 165);
    border-radius: 5px;
    border-style:none;
    float:right;
    height:30px;
    width:65px;
    position:relative;
  right:15px;
  top :35px;
  color:white;  
  }
  .modalBtn_linked{
    background-color: rgb(168, 168, 236);
    border-radius: 5px;
    border-style:none;
    float:right;
    height:35px;
    width:55px;
    position:relative;
    right:45px;
    margin:0;


}
.modalBtn_linked_Sub{
  background-color: rgb(168, 168, 236);
    border-radius: 3px;
    border-style:none;
    float:right;
    height:25px;
    width:55px;
    position:relative;
    right:45px;
    margin:0;


}
.modalBtnTwitter{
  background-color: rgb(168, 168, 236);
  border-radius: 5px;
  border-style:none;
  float:right;
  height:35px;
  width:55px;
  position:relative;
  right:50px;
  top:75px;


}
  .res_popup{
    width:82%;
    /* height:68px; */
    font-size:9px; 
    padding:3px;
  /* background-color: #000; */
    float:right;
  }
   
    .name_popup{
        width:20%;
        height: 25px;
        font-size: 11px;
        float:left;
      
      
      }
    .image_popup{
      border-radius: 50%
    }
    .pic_popup{
        width:40px;
        height: 40px;
        float:left;
        margin:2px;
        border-radius: 50%;
        }

  .close_popup {
    color: #aaaaaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .modal_collekt {
  display: none; /*Hidden by default*/
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  border-radius:10px;
  }

  .modalTwitter{
    display: none; /*Hidden by default*/
    position: fixed; /* Stay in place */
    z-index  : 1000;/* Sit on top*/
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    border-radius:10px;
    }