.body_main{
  width:33%;
}

.loginBtn{
  display:block;
  width:100%;
  border-style:none;
  border-radius:2px;
  border-width:0.5px;
  border-color:black;
  background-color:rgb(204, 48, 48);
  height:30px;
  color:white;
  margin-bottom: 0px;

}
#cards{
  display:block;
  width:100%;
  border-style:none;
  border-radius:2px;
  border-width:0.5px;
  border-color:black;
  background-color:rgb(3, 10, 75);
  height:30px;
  color:white;
  margin-bottom: 0px;

}

.loginBtn:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}