/* body {
   background: white;
} */

.sticker {
  display: inline-block;
  height:19px;
  width:19px;
  /* vertical-align: top; */
  text-align: center;
  margin: 5px;
  font-size:15px;
  color:black;
  font-weight: bold;
  font-family: Courier New;
  background:#eee;
  /* padding:10px; */
  border-radius:50%;
  border-style:solid;
  border-color:white;
  border-width:2px;


} 
